<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Change Data Menu</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar (brand='Change Menu')"></nav>
		<div class="container-fluid">

		<h2>Change Data Menu</h2>
		<form th:action="@{/menu/change/{id}(id=${menu.id})}" th:object="${menu}" method="POST">
			<input type="hidden" th:field="${menu.id}"/>
			Nama Menu: <br>
			<input type="text" name="nama" th:value="${menu.nama}"/>
			<br>
			Harga: <br>
			<input type="number" name="harga" th:value="${menu.harga}"/>
			<br>
			Durasi Masak: <br>
			<input type="text" name="durasiMasak" th:value="${menu.durasiMasak}"/>
			<br>
			Deskripsi: <br>
			<input type="text" name="deskripsi" th:value="${menu.deskripsi}"/>

			<br><br>
			<button type="submit">Submit</button>
		</form>
		</div>	
	</body>
</html>